#h01{
    margin-top: 50px;
    color: black;
    margin-left:20px;
    
    
}
body{
    background-image: url(doodle.jpg);
}

#content_second{
    margin-top: 150px;
    margin-left:70px;
    background-color:white;

    height:200px;
    border-color: white;
    width: 800px;
    border: 1px;
    border-style: solid;
}
#content_second:hover{
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
}
#content_third{
    margin-top: 150px;
    margin-left:700px;
    background-color:white;

    height:200px;
    border-color: white;
    width: 800px;
    border: 1px;
    border-style: solid;

}
#h03{
    margin-top:50px;
    margin-left:20px;
}

#content_fourth{
    margin-top: 150px;
    margin-left:70px;
    background-color:white;

    height:250px;
    border-color: white;
    width: 800px;
    border: 1px;
    border-style: solid;


}
#text_fourth{
    
}
#content_fifth{
    margin-top: 150px;
    margin-left:700px;
    background-color:white;

    height:690px;
    border-color: white;
    width: 800px;
    border: 1px;
    border-style: solid;

   

}
#g-photo{
    height: 90px;
    width:90px;
}
#g{
    display:flex;
    margin-left:20px;
}
#g_n{
    margin-top:40px;
    margin-left:20px;
}

#a-name{
    height: 90px;
    width:90px;
    margin-top:40px;
    margin-left:20px;
}
#a{
    display:flex;
    margin-top:11px;
    margin-left:20px;

}
#a-photo{
    height: 90px;
    width:90px;

}
#r-photo{
    height: 90px;
    width:90px;
    

}
#r{
    display: flex;
    margin-left: 20px;
    margin-top:-40px;
}
#r-name{
    height: 90px;
    width:90px;
    margin-top:40px;
    margin-left:20px;
     

}
#v{
    display: flex;
    margin-left: 20px;
    margin-top:-40px;
    
}
#v-name{
    margin-left:20px;
}