@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    scroll-behavior: smooth;

}

body{
    background-image:url(/assets/contact_background.jpg);
    background-size:cover;
    background-attachment: fixed;

}

.content_div{
    width: 500px;
    height: 500px;
    margin-top: 10%;
    margin-left:35%;
    align-items: center;
    background-color:rgba(255, 255, 255,0.2);
    align-self: center;
    max-width: 600px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    flex-direction: row;
    
   
    
    
    
    
    
    
}

#content_text1{
    text-align: center;
    transform: translateY(40px);
}
#heading1{
    text-align:center ;
}

#content_text:hover{
    text-shadow: 3px 3px 3px rgba(79, 106, 240);
    
    
}
#query_box{
    width: 500px;
    height: 500px;
    margin-top: 10%;
    margin-left:35%;
    align-items: center;
    background-color:rgba(255, 255, 255,0.2);
    align-self: center;
    max-width: 600px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    flex-direction: row;
    
}
#query_box :focus{
    cursor:text;
    background-color: azure;
}
.spare{
    transform: translateY();
}
#button_1{
    
        background-color: white;
        color: black;
        border: 2px solid rgb(31, 32, 33); 
        height:35px;
        width:60px;
   
}
