<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/about_style.css">
    <title>ABOUT US</title>
</head>
<body>
    <div id="content_main">
    <div id="content_second">
    <h1 id="h01">ABOUT US</h1>
    <pre>
        Welcome to , where we turn dreams into unforgettable travel experiences. 
        Established with a passion for exploration and a commitment to excellence, is your 
        trusted partner in discovering the world's most captivating destinations.
        We have tour packages to destinations in India and all around the globe.
    </pre>
        </div>
        <div id="content_third">
            <h1 id="h03">OUR STORY</h1>
            <pre id="text_third">
                Founded 2024, Footloose has evolved from a humble idea into a leading provider of bespoke travel 
                solutions. Fuelled by our love for travel and a desire to share the wonders of the world 
                with others, we embarked on a journey to create unique and immersive travel experiences.
                This company is the hard work and passion of four people naming Rohit,Ganeshvar,Akhil and 
                Vighnesh.
               
                
            </pre>

        </div>
        <div id="content_fourth">
        <h1 id="h04">WHY CHOOSE US</h1>
        <pre id="text_fourth">
        Expertise:With years of experience in the travel industry, our team of passionate professionals 
        possesses in-depth knowledge and expertise to curate exceptional travel experiences tailored to your
        needs.Personalization:We understand that no two travelers are alike. That's why we take the time 
        to understand your preferences and interests, crafting bespoke itineraries that reflect your unique 
        travel style.Quality & Safety: Your safety and comfort are our top priorities. From hand-picked 
        accommodations to reliable transportation, we partner with trusted suppliers to ensure that every 
        aspect of your journey exceeds expectations.Exceptional Service: From the moment you reach out to 
        us until long after you return home, our dedicated team is here to assist you every step of the way.
        We provide personalized support and assistance, ensuring a seamless and stress-free travel experience.

        </pre>
        </div>
        <div id="content_fifth">
            <h1 id="h05">OUR TEAM</h1>
            <pre>
                Our team consist of four visionaray Engineers.
                <div id="g">
                <img src="dhanushkodi.jpg" id="g-photo">
                <p id="g_n"><b>GANESWAR</b></p>
                </div>
                
                <div id="a">
                    <img src="dhanushkodi.jpg" id="a-photo">
                <p id="a-name"><b>AKHIL KANNAN</b></p>
            </div>
            
            <div id="r">
                <img src="dhanushkodi.jpg" id="r-photo">
                <p id="r-name"><b>ROHIT</b></p>
            </div>
            <div id="v">
                <img src="dhanushkodi.jpg" id="a-photo">
                <p id="v-name"><b>VIGHNESH H</b></p>

            </pre>
        </div>
        </div>

</div>
    
</body>
</html>