<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style/c.css">
</head>
<body>
    <body>
        <header>
            <ul>
            <li><a href="#">Tour</a></li>
            </ul>
            <ul>
                
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#">Packages</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#" target="_blank">LogIn</a></li>
                
            </ul>
        </header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
     
        <div class="container">
    
            <div class="slide">
    
                
                <div class="items" style="background-image: url(/assets/munnar.jpg);">
                    <div class="contents">
                        <div class="name">Munnar</div>
                        <div class="dess">Munnar is a town in the Western Ghats mountain range in India's Kerala state.</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="items" style="background-image: url(/assets/Kumarakom.jpg);">
                    <div class="contents">
                        <div class="name">Kumarakom </div>
                        <div class="desp">Kumarakom is a popular tourism destination located near the city of Kottayam (10 kilometres (6 mi)), in Kerala, India, famous for its backwater tourism.[1] It is set in the backdrop of the Vembanad Lake, the largest lake in the state of Kerala..</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="items" style="background-image: url(/assets/kanyakumari.jpg);">
                    <div class="contents">
                        <div class="name">Kanyakumari</div>
                        <div class="dess">Kanyakumari is a coastal town in the state of Tamil Nadu on India's southern tip. Jutting into the Laccadive Sea, the town was known as Cape Comorin during British rule and is popular for watching sunrise and sunset over the ocean. It's also a noted pilgrimage site thanks to its Bagavathi Amman Temple, dedicated to a consort of Shiva, and its Our Lady of Ransom Church, a center of Indian Catholicism.</div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="items" style="background-image: url(/assets/dhanushkodi.jpg);">
                    <div class="contents">
                        <div class="name">Dhanushkodi</div>
                        <div class="dess">Dhanushkodi is an abandoned town at the south-eastern tip of Pamban Island of the state of Tamil Nadu in India. It is south-east of Pamban and is about 24 kilometres west of Talaimannar in Sri Lanka. The town was destroyed during the 1964 Rameswaram cyclone and remains uninhabited in the aftermath. </div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="items" style="background-image: url(/assets/france.jpg);">
                    <div class="contents">
                        <div class="name"><p style="color:black">France </p></div>
                        <div class="dess" ><p style="color: black;">France, in Western Europe, encompasses medieval cities, alpine villages and Mediterranean beaches. Paris, its capital, is famed for its fashion houses, classical art museums including the Louvre and monuments like the Eiffel Tower. </p></div>
                        <button>See More</button>
                    </div>
                </div>
                <div class="item" style="background-image: url(/assets/switzerland.jpg)">
                    <div class="content">
                        <div class="name">Switzerland</div>
                        <div class="dess">Switzerland is a mountainous Central European country, home to numerous lakes, villages and the high peaks of the Alps. Its cities contain medieval quarters, with landmarks like capital Bern's Zytglogge clock tower and Lucerne's wooden chapel bridge.</div>
                        <button>See More</button>
                    </div>
                </div>
    
            </div>
    
            <div class="button">
                <button class="prev"><i class="fa-solid fa-arrow-left"></i></button>
                <button class="next"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
    
        </div>
        <script src="/script/script.js"></script>
</body>
</html>
